body {
	color: #787878;
	background: #fbfbfb;
}

h1, .article.list h2, .article.list h2 a {
	color: #8c8c8c;
	border-bottom: none;
}

h2 {
	color: #8c8c8c;
	border-bottom: solid 1px #c7c7c7;
}

h3 {
	color: #787878;
}

h4 {
	color: #787878;
}

a {
	color: #0252aa;
}

table tr th {
	background-color: #787878;
	color: #fbfbfb;
}

table tr:nth-child(odd) {
	background-color:#e0e0e0;
}

#logo a {
	background: url(images/logo.png) no-repeat 0 0;
}

.article.list h2 a:hover {
	color: #0252aa;
}

.article img {
	box-shadow: #858585 0 2px 5px;
	moz-box-shadow: #858585 0 2px 5px;
	-webkit-box-shadow: #858585 0 2px 5px;
	background:#fbfbfb;
}

.byline {
	border-color: #c7c7c7;
}

.entry-meta {
	border-color: #c7c7c7;
}

.navigation {
	background: #e10605;
	box-shadow: #a7a7a7 0 1px 4px;
	-moz-box-shadow: #a7a7a7 0 1px 4px;
	-webkit-box-shadow: #a7a7a7 0 1px 4px;
	-o-box-shadow: #a7a7a7 0 1px 4px;
}

.navigation ul li {
	background: url(images/nav-divider.png) no-repeat right center;
}

.navigation ul li a {
	background: url(images/nav-item-bg.png) no-repeat 0 center;
	color: #ffaaaa;
}

.navigation ul li.sfHover a,
.navigation ul li.current a,
.navigation ul li a:hover {
	color: #fbfbfb;
}

.navigation ul li:last-child,
.navigation ul li.last {
	padding: 0;
}

.navigation ul li ul {
	background: #ab0000;
	box-shadow: #595550 0 1px 4px;
	-webkit-box-shadow: #595550 0 1px 4px;
	-moz-box-shadow: #595550 0 1px 4px;
	border-top: solid 1px #990000;
}


.navigation ul li ul li a {
	color: #ffaaaa;
}

.navigation ul li.sfHover ul li a {
	color: #ffaaaa;
}

.navigation ul li ul li.current a,
.navigation ul li.sfHover ul li a:hover,
.navigation ul li ul li a:hover {
	background: url(images/dd-item-bg.png) repeat-y 0 0;
	color: #fbfbfb;
}

.navigation-type-2 {
	background: #ee3333 url(images/navigation-type-2-bg.png) repeat 0 0;
}

.navigation-type-2 ul li a {
	background: url(images/nav-2-item-bg.png) no-repeat 0 0;
}

.navigation ul li.sfHover a,
.navigation ul li.current a,
.navigation ul li a:hover {
	background: url(images/nav-2-active.png) no-repeat 0 0;
}

.navigation-type-2 ul li ul {
	background: #b30000 url(images/nav-2-dd-bg.png) repeat 0 0;
}

.navigation-type-2 ul li.sfHover ul li.current a {
	background: url(images/dd-item-bg.png) repeat-y 0 0;
}

.header-search {
	background: #e3e3e3 url(images/search-bg.png) repeat-x 0 0;
}

.header-search input.field {
	background: url(images/search-field-bg.png) no-repeat right center;
	color: #898989;
}

.header-search input.search-btn {
	background: #c4c4c4;
	color: #e3e3e3;
}

.second-menu {
	border-top: solid 1px #c7c7c7;
	border-bottom: solid 1px #c7c7c7;
	background: #fbfbfb;
}

.second-menu ul li {
	color: #8b8b8b;
}

.second-menu ul li a {
	color: #8b8b8b;
}

.second-menu ul li ul {
	border: solid 1px #c7c7c7;
	border-top: solid 1px #fbfbfb;
	background: #fbfbfb;
}

.second-menu ul li ul li.current a,
.second-menu ul li.sfHover ul li a:hover,
.second-menu ul li ul li a:hover {
	background: #e0e0e0;
}

.breadcrumbs {
	color: #c7c7c7;
}

.breadcrumbs a {
	color: #c7c7c7;
}

.breadcrumbs a:hover,
.breadcrumbs .trail-end {
	color: #8b8b8b;
}

.breadcrumbs-without-menu {
	border-top: solid 1px #c7c7c7;
	border-bottom: solid 1px #c7c7c7;
}

#container p.summary {
	color: #787878;
}

#slider-wrapper .big-slider {
	box-shadow: #9b9b9b 0 1px 5px;
	-moz-box-shadow: #9b9b9b 0 1px 5px;
	-webkit-box-shadow: #9b9b9b 0 1px 5px;
}

#slider-wrapper .thumbs-slider .slides li .shadow {
	background: url(images/thumbs-slider.png) repeat-x 0 0;
}

#slider-wrapper .thumbs-slider .slides li img {
	box-shadow: #797979 0 2px 5px;
	-moz-box-shadow: #797979 0 2px 5px;
	-webkit-box-shadow: #797979 0 2px 5px;
}

#slider-wrapper .thumbs-slider .flex-direction-nav li a.flex-prev {
	background: url(images/thumbs-prev.png) no-repeat 0 0;
}

#slider-wrapper .thumbs-slider .flex-direction-nav li a.flex-next {
	background: url(images/thumbs-next.png) no-repeat 0 0;
}

.widget .col .image {
	box-shadow: #858585 0 2px 5px;
	-moz-box-shadow: #858585 0 2px 5px;
	-webkit-box-shadow: #858585 0 2px 5px;
}

.widget .col .text p {
	color: #898989;
}

.widget-type-1 {
	background: #e4e4e4;
	border-top: solid 1px #c7c7c7;
}

.widget-type-1  h2 {
	color: #b3b3b3;
	text-shadow: #fff 0 -1px 1px;
}

.widget-type-2 {
	background: #c4c4c4 url(images/widget-2-bg.png) repeat 0 0;
	border-top: solid 1px #a8a8a8;
}

.widget-type-2 h2 {
	color: #fbfbfb;
	text-shadow: #999999 0 1px 1px;
}

.widget-type-2 .image {
	background: #fbfbfb;
}

.widget-type-2 .text h3 {
	text-shadow: #dfdfdf 0 -1px 1px;
}

.widget-type-3 {
	background: #898989 url(images/widget-3-bg.png) repeat 0 0;
	border-top: solid 1px #606060;
	border-bottom: solid 1px #606060;
}

.widget-type-3 h2 {
	color: #c4c4c4;
	text-shadow: #6e6e6e 0 1px 1px;
}

.widget-type-3 .col .text {
	color: #dddddd;
}

.widget-type-3 .col .text p {
	color: #dddddd;
}

.post h2 {
	color: #8c8c8c;
	border-bottom: solid 1px #c7c7c7;
}

.post h3 {
	color: #787878;
}

#container h1 {
	color: #8c8c8c;
}

#content .two-column .col h2 {
	color: #8c8c8c;
	border-bottom: solid 1px #c7c7c7;
}

#sidebar h3 {
	border-bottom: solid 1px #c7c7c7;
	color: #aaaaaa;
}

#sidebar ul li {
	background: url(images/point.png) no-repeat 0 12px;
}

#footer a.logo {
	background: url(images/footer-logo.png) no-repeat 0 0;
}

#footer .footer-menu {
	border-top: solid 1px #c7c7c7;
}

#footer .footer-menu ul li {
	color: #8b8b8b;
}

#footer .footer-menu ul li a {
	color: #8b8b8b;
}

#footer .copy {
	color: #898989;
}

.page-links span {
	background-color:#787878;
	color:#fbfbfb;
}

.page-links a span {
	background-color: #0252aa;
}